<footer class="py-12 px-8 max-w-7xl mx-auto flex flex-col md:flex-row justify-between items-center border-t border-stone-200">
    <div class="flex space-x-6 mb-6 md:mb-0">
        <a href="https://in.linkedin.com/in/jérôme-tama-591699" class="hover:text-red-400">LinkedIn <i class="fa-solid fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/jtama" class="hover:text-red-400">GitHub <i class="fa-solid fa-brands fa-linkedin"></i></a>
        <a href="https://bsky.app/profile/jtama.bsky.social" class="hover:text-red-400">Bluesky <i class="fa-solid fa-brands fa-bluesky"></i></a>
        <a href="{site.url}rss.xml" class="hover:text-red-400"><i class="fa-solid fa-rss"></i></a>
    </div>
    <div class="text-sm text-gray-400">
        &copy; 2026 L'Art du Code. Propulsé par Java & Passion.
    </div>
</footer>