<nav class="flex items-center justify-between px-8 py-6 max-w-7xl mx-auto">
    <div class="flex space-x-6 text-sm font-semibold tracking-wide uppercase">
        <a href="/" class="hover:opacity-60">Articles</a>
        <a href="/talks" class="hover:opacity-60">Talks</a>
        <a href="/about" class="hover:opacity-60">À propos</a>
    </div>
    <div class="text-2xl font-black italic serif">
        Jérôme Tama's blog
    </div>
    <div class="flex space-x-6 text-sm font-semibold tracking-wide uppercase">
        <a href="#" class="hover:opacity-60" id="search-button">Recherche</a>
    </div>
</nav>
