---
layout: theme-layouts/roq-default/post
---
{@io.quarkiverse.roq.frontmatter.runtime.model.DocumentPage page}

{#include partials/roq-series /}

<div class="asciidoc">
    {#let attributes = page.data.attributes}

    {#if attributes.containsKey('tocnav')}
    <aside class="toc sidebar" data-title="{attributes.toctitle ?: 'Contents'}" data-levels="{attributes.toclevels ?: 2}">
        <div class="toc-menu"></div>
    </aside>
    {/if}
    {/}
    <div class="asciidoc-content">
    {#insert /}
    </div>
</div>

{#article-end}
<div class="giscus"></div>
<script src="https://giscus.app/client.js"
        data-repo="jtama/jtama.github.io"
        data-repo-id="R_kgDONVeHHw"
        data-category="Comments"
        data-category-id="DIC_kwDONVeHH84Cpc0c"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
{/}